<section id="aboutme" class="container about-section">
  <h2 class="about-title">About <span class="about-title-green">me</span></h2>
  <div class="about-upper-container">
    <div class="about-img-box">
      <picture class="about-picture">
        <source
          srcset="
            /img/jpg-materials/about-me-men.jpg    1x,
            /img/jpg-materials/about-me-men-2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            /img/jpg-materials/about-me-men-tablet.jpg    1x,
            /img/jpg-materials/about-me-men-tablet-2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            /img/jpg-materials/about-me-men-mobile.jpg    1x,
            /img/jpg-materials/about-me-men-mobile-2x.jpg 2x
          "
          media="(min-width:320px)"
        />
        <img
          class="about-image"
          src="/src/img/jpg-materials/about-me-men.jpg"
          width="384"
          height="448"
          alt="about me"
        />
      </picture>
    </div>
    <div class="about-bio">
      <h3 class="about-subtitle">BIO</h3>
      <p class="about-text">
        I'm Lloyd Jefferson, a talented programmer specializing in software
        development. My expertise spans various programming languages and
        technologies, and I am dedicated to continually enhancing my skills. I
        thrive on seeking unconventional and creative solutions to problems,
        leveraging a high level of analytical skills to effectively tackle even
        the most challenging tasks.
      </p>
      <p class="about-text">
        Adaptable to both independent and team-oriented work, I collaborate
        seamlessly with colleagues, exchanging ideas and finding optimal
        solutions. My professional maturity enables me to navigate challenges
        and stressful situations with a calm demeanor, maintaining a
        consistently high quality of work. Committed to self-improvement, I
        actively engage in studying new technologies and practices to stay
        current with the latest innovations in the field.
      </p>
    </div>
  </div>
  <div class="about-lower-container">
    <div class="about-education">
      <h3 class="about-subtitle">EDUCATION</h3>
      <ul class="about-list">
        <li class="about-list-item">
          2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
        </li>
        <li class="about-list-item">
          2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
          New York
        </li>
        <li class="about-list-item">
          2020 - 2022 / Advanced Blender Animation Techniques, Udemy
        </li>
      </ul>
    </div>
    <div class="about-role">
      <h3 class="about-subtitle">ROLE</h3>
      <ul class="about-list">
        <li class="about-list-item">Frontend development</li>
        <li class="about-list-item">HeadlessCMS, Wordpress</li>
        <li class="about-list-item">Blender (enjoy)</li>
      </ul>
    </div>
  </div>
</section>
