<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <a class="link-logo-header" href="./index.html"
        >LLOYD<span class="span-logo-header">JEFFERSON.</span></a
      >
      <ul class="footer-list">
        <li>
          <a
            class="link-footer"
            href="https://www.instagram.com/goitclub/"
            rel="noopener noreferrer"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a
            class="link-footer"
            href="https://www.facebook.com/goITclub/"
            rel="noopener noreferrer"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a
            class="link-footer"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            rel="noopener noreferrer"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            class="link-footer"
            href="https://github.com/Vikto0004/browser-battalion-2.0"
            rel="noopener noreferrer"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-text">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>
