<header class="header">
    <div class="header-box container">
        <a class="link-logo-header" href="index.html">LLOYD<span class="span-logo-header">JEFFERSON.</span></a>
        <svg class="icon-open-modal" width="32" height="32">
            <use href="/portfolio-group-10/assets/sprite--ikKmnnz.svg#icon-burger"></use>
        </svg>
        <nav class="navig-header">
            <ul class="header-list">
                <li class="header-item"><a class="link-section" href="#aboutme">About me</a></li>
                <li class="header-item"><a class="link-section" href="#projects">Projects</a></li>
                <li class="header-item"><a class="link-section" href="#contacts">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>
   
