<header class="header container">
    <a class="link-logo-header" href="../index.html">LLOYD<span class="span-logo-header">JEFFERSON.</span></a>
    <svg class="icon-open-modal" width="32" height="32">
        <use xlink:href="../img/sprite.svg#icon-burger"></use>
    </svg>
    <nav class="navig-header">
        <ul class="header-list">
            <li class="header-item"><a href="#aboutme">About me</a></li>
            <li class="header-item"><a href="#projects">Projects</a></li>
            <li class="header-item"><a href="#contacts">Contacts</a></li>
        </ul>
    </nav>
</header>
   
