<section class="hero container">
    <h1 class="hero-title">HELLO, I AM 
        <span class="men-img-title">
            <img class="men-img"
            src="./img/jpg-materials/hero-men.jpg" 
            srcset="./img/jpg-materials/hero-men-2x.jpg"
            alt="hero-men"
            width="108"
            height="108"></span>
        <span class="span-hero-title">FULLSTACK DEVELOPER</span></h1>
      
         
    <a href="#projects" class="hero-text-box">
    <div class="hero-box">
        <svg class="hero-icon-arrow" width="28" height="28"> 
            <use href="./img/sprite.svg#icon-arrow-right-hero"></use>
        </svg>
       <p class="hero-link" >ORDER THE PROJECT</p>
       <div class="bg-box"></div>
    </div> 
    <p class="work-text">
        I work with people all over the 
        world to create <span class="span-work-text">impressive</span> 
        and <span class="span-work-text">functional websites</span> that 
        reflect each client’s unique 
        personality. 
     </p>
    </a>
   <!---->
      <div class="list-box">
    <ul class="soc-link-list">
        <li class="soc-list-item">
            <a
            class="soc-link-hero"
            href= "https://www.instagram.com/goitclub/"
            target="_blank"
          >Instgram</a>
        </li>
        <li class="soc-list-item">
            <a
            class="soc-link-hero"
            href="https://www.facebook.com//"
            target="_blank"
          >Facebook</a>
        </li>
        <li class="soc-list-item">
            <a
            class="soc-link-hero"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
          >Linkedin</a>
        </li>
        <li class="soc-list-item">
            <a
            class="soc-link-hero"
            href="https://nataliiakopychynska.github.io/portfolio-group-10/"
            target="_blank"
          >GitHub</a>
        </li>
    </ul>
    </div>
</section>