<section class="my-projects" id="projects">
    <div class="container container-project">
    <h2 class="project-title">my <span class="project-title project-title-inner">projects</span></h2>
    <ul class="project-list">
        <li class="project-item">
            <div class="project-pict-cont">
                <picture class="project-pict">
                    <source srcset="/img/project-pict/pict_1-min.png 1x,/img/project-pict/pict_1@2x-min.png 2x" media="(min-width: 320px)">
                    <img src="/img/project-pict/pict_1-min.png" alt="power pulse webservice" width="1008">
                </picture>
            </div>
            <p class="project-desc">React, JavaScript, Node JS, Git</p>
            <div class="project-name-cont">
                <h3 class="project-name">power pulse webservice </h3>
                <a class="project-link" href="https://nataliiakopychynska.github.io/portfolio-group-10/" target="_blank">VISIT<svg class="svg-icons" width="24" height="24">
                    <use href="/img/sprite.svg#icon-errow-right-top"></use></svg></a>
            </div>
        </li>
        <li class="project-item">
            <div class="project-pict-cont">
                <picture class="project-pict">
                    <source srcset="/img/project-pict/pict_2-min.png 1x,/img/project-pict/pict_2@2x-min.png 2x" media="(min-width: 320px)">
                    <img src="/img/project-pict/pict_2-min.png" alt="mimino website" width="1008">
                </picture></div>
            <p class="project-desc">React, JavaScript, Node JS, Git</p>
            <div class="project-name-cont">
                <h3 class="project-name">mimino website</h3>
                <a class="project-link" href="https://nataliiakopychynska.github.io/portfolio-group-10/" target="_blank">VISIT<svg class="svg-icons" width="24" height="24">
                    <use href="/img/sprite.svg#icon-errow-right-top"></use></svg></a>
            </div>
        </li>
        <li class="project-item">
            <div class="project-pict-cont">
                <picture class="project-pict">
                    <source srcset="/img/project-pict/pict_3-min.png 1x,/img/project-pict/pict_3@2x-min.png 2x" media="(min-width: 320px)">
                    <img src="/img/project-pict/pict_3-min.png" alt="vyshyvanka vibes Landing Page" width="1008">
                </picture></div>
            <p class="project-desc">React, JavaScript, Node JS, Git</p>
            <div class="project-name-cont">
                <h3 class="project-name">vyshyvanka vibes Landing Page</h3>
                <a class="project-link" href="https://nataliiakopychynska.github.io/portfolio-group-10/" target="_blank">VISIT<svg class="svg-icons" width="24" height="24">
                    <use href="/img/sprite.svg#icon-errow-right-top"></use></svg></a>
            </div>
        </li>
        <li class="project-item" hidden>
            <div class="project-pict-cont">
                <picture class="project-pict">
                    <source srcset="/img/project-pict/pict_4-min.png 1x,/img/project-pict/pict_4@2x-min.png 2x" media="(min-width: 320px)">
                    <img src="/img/project-pict/pict_4-min.png" alt="green harvest online store" width="1008">
                </picture></div>
            <p class="project-desc">React, JavaScript, Node JS, Git</p>
            <div class="project-name-cont">
                <h3 class="project-name">green harvest online store</h3>
                <a class="project-link" href="https://nataliiakopychynska.github.io/portfolio-group-10/" target="_blank">VISIT<svg class="svg-icons" width="24" height="24">
                    <use href="/img/sprite.svg#icon-errow-right-top"></use></svg></a>
            </div>
        </li>
        <li class="project-item" hidden>
            <div class="project-pict-cont">
                <picture class="project-pict">
                    <source srcset="/img/project-pict/pict_5-min.png 1x,/img/project-pict/pict_5@2x-min.png 2x" media="(min-width: 320px)">
                    <img src="/img/project-pict/pict_5-min.png" alt="Wallet webservice" width="1008">
                </picture></div>
            <p class="project-desc">React, JavaScript, Node JS, Git</p>
            <div class="project-name-cont">
                <h3 class="project-name">Wallet webservice</h3>
                <a class="project-link" href="https://nataliiakopychynska.github.io/portfolio-group-10/" target="_blank">VISIT<svg class="svg-icons" width="24" height="24">
                    <use href="/img/sprite.svg#icon-errow-right-top"></use></svg></a>
            </div>
        </li>
        <li class="project-item" hidden>
            <div class="project-pict-cont">
                <picture class="project-pict">
                    <source srcset="/img/project-pict/pict_6-min.png 1x,/img/project-pict/pict_6@2x-min.png 2x" media="(min-width: 320px)">
                    <img src="/img/project-pict/pict_6-min.png" alt="chego jewelry website" width="1008">
                </picture></div>
            <p class="project-desc">React, JavaScript, Node JS, Git</p>
            <div class="project-name-cont">
                <h3 class="project-name">chego jewelry website</h3>
                <a class="project-link" href="https://nataliiakopychynska.github.io/portfolio-group-10/" target="_blank">VISIT<svg class="svg-icons" width="24" height="24">
                    <use href="/img/sprite.svg#icon-errow-right-top"></use></svg></a>
            </div>
        </li>
        <li class="project-item" hidden>
            <div class="project-pict-cont">
                <picture class="project-pict">
                    <source srcset="/img/project-pict/pict_7-min.png 1x,/img/project-pict/pict_7@2x-min.png 2x" media="(min-width: 320px)">
                    <img src="/img/project-pict/pict_7-min.png" alt="energy flow webservice" width="1008">
                </picture></div>
            <p class="project-desc">React, JavaScript, Node JS, Git</p>
            <div class="project-name-cont">
                <h3 class="project-name">energy flow webservice</h3>
                <a class="project-link" href="https://nataliiakopychynska.github.io/portfolio-group-10/" target="_blank">VISIT<svg class="svg-icons" width="24" height="24">
                    <use href="/img/sprite.svg#icon-errow-right-top"></use></svg></a>
            </div>
        </li>
        <li class="project-item" hidden>
            <div class="project-pict-cont">
                <picture class="project-pict">
                    <source srcset="/img/project-pict/pict_8-min.png 1x,/img/project-pict/pict_8@2x-min.png 2x" media="(min-width: 320px)">
                    <img src="/img/project-pict/pict_8-min.png" alt="fruitbox online store" width="1008">
                </picture></div>
            <p class="project-desc">React, JavaScript, Node JS, Git</p>
            <div class="project-name-cont">
                <h3 class="project-name">fruitbox online store</h3>
                <a class="project-link" href="https://nataliiakopychynska.github.io/portfolio-group-10/" target="_blank">VISIT<svg class="svg-icons" width="24" height="24">
                    <use href="/img/sprite.svg#icon-errow-right-top"></use></svg></a>
            </div>
        </li>
        <li class="project-item" hidden>
            <div class="project-pict-cont">
                <picture class="project-pict">
                    <source srcset="/img/project-pict/pict_9-min.png 1x,/img/project-pict/pict_9@2x-min.png 2x" media="(min-width: 320px)">
                    <img src="/img/project-pict/pict_9-min.png" alt="English excellence webservice" width="1008">
                </picture></div>
            <p class="project-desc">React, JavaScript, Node JS, Git</p>
            <div class="project-name-cont">
                <h3 class="project-name">English excellence webservice</h3>
                <a class="project-link" href="https://nataliiakopychynska.github.io/portfolio-group-10/" target="_blank">VISIT<svg class="svg-icons" width="24" height="24">
                    <use href="/img/sprite.svg#icon-errow-right-top"></use></svg></a>
            </div>
        </li>
        <li class="project-item" hidden>
            <div class="project-pict-cont">
                <picture class="project-pict">
                    <source srcset="/img/project-pict/pict_10-min.png 1x,/img/project-pict/pict_10@2x-min.png 2x" media="(min-width: 320px)">
                    <img src="/img/project-pict/pict_10-min.png" alt="starlight studio landing page" width="1008">
                </picture></div>
            <p class="project-desc">React, JavaScript, Node JS, Git</p>
            <div class="project-name-cont">
                <h3 class="project-name">starlight studio landing page</h3>
                <a class="project-link" href="https://nataliiakopychynska.github.io/portfolio-group-10/" target="_blank">VISIT<svg class="svg-icons" width="24" height="24">
                    <use href="/img/sprite.svg#icon-errow-right-top"></use></svg></a>
            </div>
        </li>
    </ul>
    <button class="load-more" type="button">
        <span class="load-more-span">LOAD MORE</span>
    </button>
    </div>
</section>
