<section class="container">
    <h2 class="review-header">reviews</h2>
    <div class="swiper">
        <ul class="review-list swiper-wrapper"></ul>
        <div class="swiper-arrow">
            <div class="swiper-button-p">
                <svg class="btn-icon btn-icon-p">
                    <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
                </svg>
            </div>
            <div class="swiper-button-n">
                <svg class="btn-icon btn-icon-n">
                    <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
                </svg>
            </div>

        </div>
    </div>

    <!-- <script type="module" src="/js/reviews.js"></script> -->
</section>