<section class="container">
    <h2 class="review-header">reviews</h2>
    <ul class="review-list">
        <li class="review-list-order">
            <p class="review-list-text">Work with was extraordinary! He turned out to be a very competent and
                responsible specialist. The projects were
                completed on time and the result exceeded my expectations</p>
            <div class="review-list-box"><img class="review-list-img" src="" alt="">
                <p class="review-list-header">Natalia Shevchenko</p>
            </div>
        </li>
        <li class="review-list-order">
            <p class="review-list-text">Work with was extraordinary!
                He turned out to be a very competent and
                responsible specialist. The projects were
                completed on time and the result exceeded my expectations</p>
            <div class="review-list-box"><img class="review-list-img" src="" alt="">
                <p class="review-list-header">Natalia Shevchenko</p>
            </div>
        </li>
    </ul>
    <div class="review-box-btn">
        <button class="review-btn" type="button">l</button>
        <button class="review-btn" type="button">r</button>
    </div>
</section>