<section class="container">
    <h2 class="review-header">reviews</h2>
    <div class="swiper">
        <ul class="review-list swiper-wrapper"></ul>
        <div class="swiper-arrow">
            <div class="swiper-button-p">
                <svg class="svg-try">
                    <use></use>
                    </use>
                </svg>
            </div>
            <div class="swiper-button-n">
                <svg>
                    <use></use>
                    </use>
                </svg>
            </div>

        </div>
    </div>

    <script type="module" src="/js/reviews.js"></script>
</section>