<section class="section-marquee">
    <h2 class="tech-skills-hidden-h">Tech Skills</h2>
    <div class="marquee">
      <div class="marquee-inner">
        <p class="marquee-line first-text">
        HTML/CSS <span class="dot">•</span> JAVASCRIPT
        <span class="dot">•</span> REACT <span class="dot">•</span> NODE.JS
        <span class="dot">•</span> React Native
        <span class="dot">•</span>HTML/CSS <span class="dot">•</span> JAVASCRIPT
        <span class="dot">•</span> REACT <span class="dot">•</span> NODE.JS
        <span class="dot">•</span> React Native
        <span class="dot">•</span>HTML/CSS <span class="dot">•</span> JAVASCRIPT
        <span class="dot">•</span> REACT <span class="dot">•</span> NODE.JS
        <span class="dot">•</span> React Native
        <span class="dot">•</span>HTML/CSS <span class="dot">•</span> JAVASCRIPT
        <span class="dot">•</span> REACT <span class="dot">•</span> NODE.JS
        <span class="dot">•</span> React Native
        <span class="dot">•</span>HTML/CSS <span class="dot">•</span> JAVASCRIPT
        <span class="dot">•</span> REACT <span class="dot">•</span> NODE.JS
        <span class="dot">•</span> React Native
        <span class="dot">•</span>HTML/CSS <span class="dot">•</span> JAVASCRIPT
        <span class="dot">•</span> REACT <span class="dot">•</span> NODE.JS
        <span class="dot">•</span> React Native
        <span class="dot">•</span>HTML/CSS <span class="dot">•</span> JAVASCRIPT
        <span class="dot">•</span> REACT <span class="dot">•</span> NODE.JS
        <span class="dot">•</span> React Native
        <span class="dot">•</span>HTML/CSS <span class="dot">•</span> JAVASCRIPT
        <span class="dot">•</span> REACT <span class="dot">•</span> NODE.JS
        <span class="dot">•</span> React Native
        <span class="dot">•</span>HTML/CSS <span class="dot">•</span> JAVASCRIPT
        <span class="dot">•</span> REACT <span class="dot">•</span> NODE.JS
        <span class="dot">•</span> React Native
        <span class="dot">•</span>HTML/CSS <span class="dot">•</span> JAVASCRIPT
        <span class="dot">•</span> REACT <span class="dot">•</span> NODE.JS
        <span class="dot">•</span> React Native
        <span class="dot">•</span>HTML/CSS
        <span class="dot">•</span> JAVASCRIPT<span class="dot">•</span> REACT
        <span class="dot">•</span> NODE.JS <span class="dot">•</span> React
        Native <span class="dot">•</span>HTML/CSS
        <span class="dot">•</span> JAVASCRIPT <span class="dot">•</span> REACT
        <span class="dot">•</span> NODE.JS <span class="dot">•</span> React
        Native <span class="dot">•</span> HTML/CSS
        <span class="dot">•</span> JAVASCRIPT <span class="dot">•</span> REACT
        <span class="dot">•</span> NODE.JS <span class="dot">•</span> React
        Native <span class="dot">•</span>HTML/CSS
        <span class="dot">•</span> JAVASCRIPT <span class="dot">•</span> REACT
        <span class="dot">•</span> NODE.JS <span class="dot">•</span> React
        Native <span class="dot">•</span>HTML/CSS
        <span class="dot">•</span> JAVASCRIPT <span class="dot">•</span> REACT
        <span class="dot">•</span> NODE.JS <span class="dot">•</span> React
        Native <span class="dot">•</span>HTML/CSS
        <span class="dot">•</span> JAVASCRIPT <span class="dot">•</span> REACT
        <span class="dot">•</span> NODE.JS <span class="dot">•</span> React
        Native <span class="dot">•</span>
        </p>
      </div>
    </div>

    <div class="two">
      <div class="marquee-inner">
        <p class="marquee-line second-text">
        HTML/CSS <span class="dot2">•</span> JAVASCRIPT
        <span class="dot2">•</span> REACT <span class="dot2">•</span> NODE.JS
        <span class="dot2">•</span> React Native
        <span class="dot2">•</span>HTML/CSS
        <span class="dot2">•</span> JAVASCRIPT <span class="dot2">•</span> REACT
        <span class="dot2">•</span> NODE.JS <span class="dot2">•</span> React
        Native <span class="dot2">•</span>HTML/CSS <span class="dot2">•</span> JAVASCRIPT
        <span class="dot2">•</span> REACT <span class="dot2">•</span> NODE.JS
        <span class="dot2">•</span> React Native
        <span class="dot2">•</span>HTML/CSS
        <span class="dot2">•</span> JAVASCRIPT <span class="dot2">•</span> REACT
        <span class="dot2">•</span> NODE.JS <span class="dot2">•</span> React
        Native <span class="dot2">•</span>HTML/CSS <span class="dot2">•</span> JAVASCRIPT
        <span class="dot2">•</span> REACT <span class="dot2">•</span> NODE.JS
        <span class="dot2">•</span> React Native
        <span class="dot2">•</span>HTML/CSS
        <span class="dot2">•</span> JAVASCRIPT <span class="dot2">•</span> REACT
        <span class="dot2">•</span> NODE.JS <span class="dot2">•</span> React
        Native <span class="dot2">•</span>HTML/CSS <span class="dot2">•</span> JAVASCRIPT
        <span class="dot2">•</span> REACT <span class="dot2">•</span> NODE.JS
        <span class="dot2">•</span> React Native
        <span class="dot2">•</span>HTML/CSS
        <span class="dot2">•</span> JAVASCRIPT <span class="dot2">•</span> REACT
        <span class="dot2">•</span> NODE.JS <span class="dot2">•</span> React
        Native <span class="dot2">•</span>HTML/CSS <span class="dot2">•</span> JAVASCRIPT
        <span class="dot2">•</span> REACT <span class="dot2">•</span> NODE.JS
        <span class="dot2">•</span> React Native
        <span class="dot2">•</span>HTML/CSS
        <span class="dot2">•</span> JAVASCRIPT <span class="dot2">•</span> REACT
        <span class="dot2">•</span> NODE.JS <span class="dot2">•</span> React
        Native <span class="dot2">•</span>HTML/CSS <span class="dot2">•</span> JAVASCRIPT
        <span class="dot2">•</span> REACT <span class="dot2">•</span> NODE.JS
        <span class="dot2">•</span> React Native
        <span class="dot2">•</span>HTML/CSS
        <span class="dot2">•</span> JAVASCRIPT <span class="dot2">•</span> REACT
        <span class="dot2">•</span> NODE.JS <span class="dot2">•</span> React
        Native <span class="dot2">•</span>
        </p>
      </div>
    </div>
</section>
