<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="section-marquee">
        <div class="marquee">
            <div class="marquee__inner left">
                <p class="marquee__line first-text">HTML/CSS <span class="dot">•</span> JAVASCRIPT <span class="dot">•</span> REACT <span
                        class="dot">•</span> NODE.JS <span class="dot">•</span> React Native <span class="dot">•</span></p>
                <p class="marquee__line first-text">HTML/CSS <span class="dot">•</span> JAVASCRIPT <span class="dot">•</span> REACT <span
                        class="dot">•</span> NODE.JS <span class="dot">•</span> React Native <span class="dot">•</span></p>
                    </div>
        </div>

        <div class="two">
            <div class="marquee__inner right">
                <p class="marquee__line second-text">HTML/CSS <span class="dot2">•</span> JAVASCRIPT <span class="dot2">•</span> REACT <span
                        class="dot2">•</span> NODE.JS <span class="dot2">•</span> React Native <span class="dot2">•</span></p>
                <p class="marquee__line second-text">HTML/CSS <span class="dot2">•</span> JAVASCRIPT <span class="dot2">•</span> REACT <span
                        class="dot2">•</span> NODE.JS <span class="dot2">•</span> React Native <span class="dot2">•</span></p>
                    </div>
        </div>
    </section>
    
</body>
</html>
