<section class="work-together">
  <div class="container together-container">
    <h2 class="together-title" id="contacts">
      let’s <span class="together-title-span">work together</span>
    </h2>
    <div class="together-content">
      <div class="address-container">
        <p class="together-text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <address class="our-address">
          <ul class="address-list">
            <li class="address-item">
              <svg class="together-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-phon"></use>
              </svg>
              <a
                class="address-item-link"
                href="tel:+380904567890"
                target="_blank"
                >+38 090 456 78 90</a
              >
            </li>
            <li class="address-item">
              <svg class="together-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-e-mail"></use>
              </svg>
              <a
                class="address-item-link"
                href="mailto:lloydjefferson@gmail.com"
                target="_blank"
                >lloydjefferson@gmail.com</a
              >
            </li>
            <li class="address-item">
              <svg class="together-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-location"></use>
              </svg>
              <a
                class="address-item-link"
                href="https://maps.app.goo.gl/oHs1NQ7tXJzHhwTb6"
                target="_blank"
                >USA, New York</a
              >
            </li>
          </ul>
        </address>
      </div>
      <form class="form-container" id="contactForm">
        <input
          class="form-input"
          type="email"
          name="email"
          placeholder="Your email*"
          required
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <textarea
          class="form-textarea"
          name="message"
          placeholder="Message"
          required
        ></textarea>
        <button class="form-button" type="submit">SEND MESSAGE</button>
      </form>
    </div>
    <div class="backdrop-together">
      <div class="modal">
        <button class="modal-close-btn" type="button">
          <svg class="modal-close-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-close-x"></use>
          </svg>
        </button>
        <h3 class="together-modal-title">
          Thank you for your interest in cooperation!
        </h3>
        <p class="together-modal-text">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
    </div>
    <div class="point-bg-worktogether"></div>
  </div>
</section>
