.reviews {
  padding-top: 80px;
}
.review-header {
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  text-align: center;
  margin-bottom: 40px;
}
.review-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 296px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  background-color: #e4e5e6;
  border-radius: 16px;
}
.review-list-order {
  background: #e4e5e6;
  border-radius: 16px;
  margin-bottom: 24px;
}

.list-order-container {
  padding: 32px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 296px;
}
.review-list-text {
  text-transform: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  margin-bottom: 24px;
  overflow: auto;
  scrollbar-width: none;
}

.btn-icon {
  fill: transparent;
  stroke: #292929;
  width: 24px;
  height: 24px;
}
.btn-icon-p {
  stroke: #d0d0d0;
}
.review-list-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.review-list-img {
  border-radius: 24px;
  width: 40px;
  height: 40px;
}
.review-list-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}
.swiper-arrow {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: end;
}
.swiper-button-p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 12px;
  width: 40px;
  height: 40px;
  pointer-events: none;
}
.swiper-button-n {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #292929;
  border-radius: 8px;
  padding: 12px;
  width: 40px;
  height: 40px;
}
.swiper-button-disabled {
  border: 1px solid #d0d0d0;
}
.swiper-button-p:hover {
  border: 1px solid #292929;
  background-color: #bbbbbb;
}
.swiper-button-n:hover {
  border: 1px solid #292929;
  background-color: #bbbbbb;
}
@media only screen and (min-width: 768px) {
  .reviews {
    padding-top: 124px;
  }
  .review-header {
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
  .review-not-found {
    width: 704px;
    height: 288px;
  }
  .list-order-container {
    height: 224px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews {
    padding-top: 164px;
  }
  .swiper-button-p {
    width: 48px;
    height: 48px;
  }
  .review-not-found {
    width: 592px;
    height: 224px;
  }
  .swiper-button-n {
    width: 48px;
    height: 48px;
  }
}
