/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./vite-promo.css');
@import url('./badges.css');

@import url('./header.css');
/* @import url('./header.css'); */
@import url('./hero.css');
@import url('./about-me.css');
@import url('./tech-skills.css');
@import url('./my-projects.css');
@import url('./benefits.css');
@import url('./faq.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./footer.css');

@import url('./modal-window.css');

@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
