.work-together {
  padding-left: 20px;
  padding-right: 20px;
}

.together-title {
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 40px;
  text-align: left;
}

.together-title-span {
  color: #00b068;
}

.together-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 32px;
}

.address-list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-bottom: 40px;
}

.address-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.address-item-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  font-style: normal;
  display: inline-block;
}

.address-item-link:hover,
.address-item-link:focus {
  color: #00b068;
}

.together-icon {
  stroke-width: 1px;
  stroke: #00b068;
  fill: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* padding-bottom: 80px; */
}

.form-input {
  border-radius: 8px;
  padding: 16px;
  max-width: 320px;
  height: 48px;
  background: #e4e5e6;
  border: none;
}

.form-textarea {
  border-radius: 8px;
  padding: 16px;
  max-width: 320px;
  height: 128px;
  background: #e4e5e6;
  border: none;
  resize: none;
}

.form-textarea::placeholder,
.form-input::placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.form-button {
  border-radius: 8px;
  padding: 12px;
  max-width: 320px;
  height: 48px;
  background: #00b068;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f0f0f0;
}

.form-button:hover,
.form-button:focus {
  background: #009156;
}

.backdrop-together {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
}

.backdrop-together.are-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 2;
}

.modal {
  width: 320px;
  min-height: 328px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  border-radius: 16px;
  border: 1px solid #e4e5e6;
  padding: 48px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.together-modal-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #00b068;
  margin-bottom: 16px;
}

.together-modal-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #292929;
  text-transform: none;
}

.modal-close-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 22px;
  right: 22px;
}

.modal-close-icon {
  stroke-width: 2px;
  stroke: #292929;
}

@media screen and (min-width: 768px) {
  .work-together {
    margin-top: 164px;
    position: relative;
    /* background-image: url('/img/bg-materials/tablet-bg-together.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right top;
    padding-left: 32px;
    padding-right: 32px; */
  }

  .point-bg-worktogether {
    background-image: url(../img/bg-materials/tablet-bg-together.png);
    position: absolute;
    width: 336px;
    height: 260px;
    top: -116px;
    left: 400px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: right top;
  }

  @media screen and (-webkit-min-device-pexel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .point-bg-worktogether {
      background-image: url(../img/bg-materials/tablet-bg-together-2x.png);
    }
  }

  .together-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }

  .together-text {
    font-size: 20px;
    line-height: 1.6;
    max-width: 488px;
  }

  .address-list {
    flex-direction: row;
    margin-bottom: 60px;
  }

  .form-container {
  }

  .form-input {
    max-width: 704px;
  }

  .form-textarea {
    max-width: 704px;
  }

  .form-button {
    max-width: 173px;
  }

  .modal {
    width: 492px;
    min-height: 280px;
    padding: 64px;
  }

  .modal-close-btn {
    top: 20px;
    right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  /* .work-together {
    position: relative;
    background-image: url('/img/bg-materials/desctop-bgtogether.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    padding-top: 116px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .work-together {
      background-image: url('/img/bg-materials/desctop-bgtogether-2x.png');
    }
  } */

  .point-bg-worktogether {
    background-image: url(../img/bg-materials/desctop-bgtogether.png);
    position: absolute;
    width: 526px;
    height: 408px;
    top: -116px;
    left: 690px;
    background-repeat: no-repeat;
  }

  @media screen and (-webkit-min-device-pexel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .point-bg-worktogether {
      background-image: url(../img/bg-materials/desctop-bgtogether-2x.png);
    }
  }

  .together-title {
    max-width: 550px;
    margin-bottom: 80px;
  }

  .together-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 136px;
  }

  .address-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 488px;
    align-items: stretch;
    gap: 0;
  }

  .together-text {
    margin-bottom: 120px;
  }

  .address-list {
    flex-direction: column;
    margin-bottom: 0;
  }

  .form-container {
    max-width: 592px;
    padding-bottom: 0;
  }

  .form-input {
    width: 592px;
  }

  .form-textarea {
    width: 592px;
  }

  .address-container > *:last-child,
  .form-container > *:last-child {
    margin-bottom: auto;
  }
}
